@import url("https://fonts.googleapis.com/css2?family=Montserrat&Montserrat:400,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import "_titles";
@import "_variables";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  @extend %miniTitle;
}

body {
  font-family: "Bellefair", serif;
  padding: 0px 140px;
  padding-top: 70px;
}

header {
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 140px;
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      position: absolute;
      left: 48%;
      font-size: 20px;
    }
    ul {
      display: flex;
      text-transform: uppercase;
      font-size: 11px;
      @extend %miniTitle;
      &:first-child {
        li {
          margin-right: 30px;
        }
      }
    }
  }
}

.hero {
  height: 85vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.pexels.com/photos/2567326/pexels-photo-2567326.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  h4 {
    @extend %miniTitle;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 48px;
    width: 36%;
    text-align: center;
    margin-bottom: 50px;
  }
  a {
    color: white;
    width: 15%;
    border: 1px solid white;
    padding: 20px 0px;
    text-align: center;
    transition: color 0.3s linear, background 0.3s linear;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.under-hero {
  height: 80vh;
  display: flex;
  margin-bottom: 80px;
  .under-hero__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg;
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h4 {
        @extend %miniTitle;
        margin-bottom: 30px;
      }
      h3 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 50px;
      }
      a {
        color: black;
        width: 50%;
        border: 1px solid black;
        padding: 20px 0px;
        text-align: center;
        font-size: 10px;
        transition: color 0.3s linear, background 0.3s linear;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
  img,
  div {
    width: 50%;
  }
}

.blog {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 60vh);
  margin-bottom: 80px;
  .blog__post {
    background-color: $bg;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &:nth-child(even) {
      img {
        order: 1;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }

    .post__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .post__date {
        @extend %miniTitle;
        margin-bottom: 50px;
      }
      h4 {
        font-size: 36px;
        margin-bottom: 80px;
        width: 80%;
        text-align: center;
      }
      a {
        padding-bottom: 10px;
        width: 15%;
        text-align: center;
        border-bottom: 2px none black;
        transition: border-style 2s ease-in-out;
        &:hover {
          border-style: solid;
        }
      }
    }
  }
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 43vh);
  margin-bottom: 80px;
  .gallery__poster {
    height: 100%;
    cursor: pointer;
    img {
      max-width: 100%;
      height: 100%;
      transition: opacity 0.3s linear;
      &:hover {
        opacity: 0.4;
      }
    }
  }
}
